.login-content{
    width: 100%;
    padding: 15%;
    margin: auto;
    background-color: #A9A9A9;
    height: 100vh;
} 

.btn-login{
    background-color: #696969;
    color: #1C1C1C;
    font-weight: bold;
}

.btn-login:hover{
    background-color: #5D478B;
    color: #E8E8E8;
}

.option-login a{
    text-decoration: none;
    color: #1C1C1C;
    transition: .2s ease-in;
    font-weight: 500;
}

.option-login a:hover{
    color: #5D478B;
}